<!DOCTYPE html>
<html lang="it">
  <% include ./include/header %>
  <body>
    <% include ./include/navbar %>
    <div class="container-fluid mt-4 pl-md-5 pr-md-5 pl-lg-5 pr-lg-5">
       <div id="grid" class="grid"></div> 
    </div>
  </body>
  <% include ./include/scripts %>
  <script src="/js/grid.js" type="text/javascript"></script>
  <script src="/js/index.js" type="text/javascript"></script>
  <% include ./include/footer %>
</html>
