<!DOCTYPE html>
<html lang="it">
  <% include ./include/header %>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top justify-content-between">
      <div class="container">
      <div class="navbar-header">
        <a href="/" class="navbar-brand">Pensieri</a>
      </div>
  
      <div class="navbar-nav">
      </div>
    </div>
    </nav>
    
    <div class="container">
      <div class="row">
        <% include ./include/loginForm %>
      </div>
    </div>

    
  </body>
  <% include ./include/scripts %>
</html>
