<!DOCTYPE html>
<html lang="it">
  <% include ./include/header %>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top justify-content-between">
      <div class="container">
      <div class="navbar-header">
        <a href="/" class="navbar-brand">Pensieri</a>
      </div>
  
      <div class="navbar-nav">
      </div>
    </div>
    </nav>
    
    <div class="container">
      <% if (typeof info === 'undefined') { %>
        <div class="row">
          <div class="col-sm-9 col-md-6 col-lg-4 mx-auto">
                <div class="form">
                  <h3 class="text-center">Logo</h3>
                  <hr class="mb-4 mt-1">
                  <a class="btn btn-lg btn-block btn-login btn-login-facebook text-left" href="/auth/facebook">
                    <img width="25" src="/images/facebookLogo.png">
                    <span class="ml-3 mr-2 align-middle">Accedi con Facebook</span>
                  </a>
                  <a class="btn btn-lg btn-block btn-login btn-login-google text-left" href="/auth/google">
                    <img width="25" src="/images/googleLogo.svg">
                    <span class="ml-3 mr-2 align-middle">Accedi con Google</span>
                  </a>
                </div>
        </div>
      <% } %>
    </div>

    
  </body>
  <% include ./include/scripts %>
</html>
