<footer class="footer fixed-bottom">
    <div class="container">
        <div class="d-flex justify-content-center">
            <a href="/form">
                <img class="btnWritePost" width="60" src="/images/plus.png"/>
            </a>
        </div>
    </div>
</footer>