<div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
    <div class="card my-5 p-3">
      <div class="card-body">
        <div class="card-title text-center mb-4"><h4>Login</h4></div>
        <div class="form">
          <div class="form-group">
            <input class="form-control" type="email" placeholder="Email"></input>
            <input class="form-control mt-3" type="password" placeholder="Password"></input>
          </div>
          <p class="text-center">Oppure</p>
          <hr class="mb-4 mt-1">
          <a class="btn btn-lg btn-block btn-login btn-login-facebook" href="/auth/facebook">
            <img width="25" src="/images/facebookLogo.png">
            <span class="ml-3 mr-2 align-middle">Accedi con Facebook</span>
          </a>
          <a class="btn  btn-lg btn-block btn-login btn-login-google " href="/auth/google">
            <img width="25" src="/images/googleLogo.svg">
            <span class="ml-3 mr-2 align-middle">Accedi con Google</span>
          </a>
        </div>
      </div>
    </div>
  </div>